---
import Layout from "../layouts/layout.astro";
---

<Layout title="Ripl">
	<main class="app layout" layout="row center-center">
        <canvas class="app__canvas" width="500" height="500"></canvas>
        <div>
            <h1>Ripl</h1>
            <div>Some tagline here</div>
            <a href="/examples/basic">Example</a>
        </div>
	</main>
</Layout>

<script>
import {
    scene
} from '@ripl/core';

console.log(scene);
</script>

<style lang="scss">

    .app {
        position: relative;
    }

    .app__canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

</style>