---
import Layout from "../layouts/layout.astro";
---

<Layout title="Ripl">
	<main class="layout" layout="row center-center">
        <div>
            <h1>Ripl</h1>
            <div>Some tagline here</div>
            <a href="/examples/basic">Example</a>
        </div>
	</main>
</Layout>